{% load static %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand" href="/" style="color: #ffffff;">
                <img src="{% static  'images/logo.avif' %}" alt="Eternal Logo" srcset="" style="height: 45px;width: 45px;padding: 2px;">Eternal
            </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">


            <div class="logo-container">
                <img src="{% static  'images/logo.avif' %}" alt="Logo" class="logo-3d">
            </div>


            <ul class="navbar-nav ms-auto">
                <!-- <li class="nav-item"><a class="nav-link" href="#home">Home</a></li> -->
                <!-- <li class="nav-item"><img src="{% static  'images/logo.avif' %}" alt="Eternal Logo" srcset=""
                        style="height: 45px;width: 50px;padding: 1px;border-radius: 8px; margin-right: 10px;"></li> -->
                <li class="nav-item"><a class="nav-link" href="/" style="color: #ffffff;">Home</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> -->

                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"
                        style="color: #ffffff;">Dashboard</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" style="color: #ffffff;">Logout</a> 
                </li>-->

                <div class="profile" id="profileWrapper">
                    <button class="profile-btn" id="profileToggle">JD</button>
                    <div class="dropdown" id="profileDropdown">
                        <div class="user-info">
                            <p>
                                <span>👤</span>
                                <strong id="username">John Doe</strong>
                                <span class="badge bg-warning text-dark mb-1 px-3 py-1 rounded-pill"
                                    id="user-role">viewer</span>
                            </p>
                            <p style="font-size: 13px; color: rgb(0, 154, 159);">
                                <span>
                                    <i class="bi bi-envelope"></i>
                                </span>
                                <span id="user-email" class=" mb-1 px-1 py-1">john.doe@example.com</span>
                            </p>
                        </div>
                        <!-- <button class="" onclick="logout()">🚪 Logout</button> -->
                        <a class="bw-btn" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right pe-3"></i>Logout</a>
                    </div>
                </div>
                {% else %}
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}" style="color: #ffffff;">Dashboard</a></li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" style="color: #ffffff;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" style="color: #ffffff;">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>